
/* IL RESET NON è NECESSARIO PERCHè FA TUTTO BOOTSTRAP */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.justify-cont{
    justify-content: center;
}

.color-b{
    color: black;
}

.color-w{
    color: white;
}

.debug{
    background-color: blue;
    border: 1px solid red;
}

.mz-container{
    width: 60%;
    margin: 0 auto;
}

h2{
    margin-top: 40px;
    margin-bottom: 20px;
}


body{
    width: 100%;
    color: black;
}

header{
    background-color: rgb(44, 62, 80);
    height: 90px;
}

.navbar-toggler.mz-hamb{
    border: none;
}

.navbar a{
    color: white;
}

.navbar-toggler.mz-hamb:hover .navbar-toggler-icon{
    color: white;
}

.jumbotron{
    background-color: rgb(26, 188, 156);
    /* height: 490px; */
}

.img{
    position: relative;
}

.img .bi.bi-plus-lg{
    position: absolute;
    display: none;
    color: white;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img img:hover + .bi.bi-plus-lg{
    display: block;
}

.img img:hover{
    filter: contrast(60%);
}

.card-img, .card-img-bottom, .card-img-top {
    width: 250px;
    margin-top: 50px;
}

.card-img, .card-img-bottom, .card-img-top:hover {
    filter: brightness(0);
}

.about{
    background-color: rgb(26, 188, 156);
    color: white;
}

.btn-m{
    margin-bottom: 10px 0;
}

.sc-form .form-control{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.container  .row .sc-form{
    color: black;
    height: 500px;
}

div.left{
    border: 1px solid white;
    width: 10%;
}

div.star{
    margin-bottom: 20px;
    font-size: 25px;
}

footer .footer-top{
    width: 100vw;
    height: 120px;
    background-color: rgb(58, 84, 109);
}

footer .container-fluid{
    background-color: rgb(44, 62, 80);
}

footer .footer-bottom{
    background-color: rgb(44, 62, 80);
    he
}